@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";


*,
*:before,
*:after {
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: yellowgreen;
    color: black;
}


/*--  Header-Bereich  --*/
@import "partials/header";


/*--  Angebote(Offers)-Bereich  --*/
@import "partials/offers";


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); }


/*--
.pricing{
    width: 70%;
    background-color: red;
    display: flex;
    justify-content: flex-end;

}


.basic{
    width: 1fr;
    height: 800px;
    background-color: green;
    
}

.master{
    width: 1fr;
    height: 800px;
    background-color: greenyellow;
}


.professional{
    width: 1fr;
    height: 800px;
    background-color: yellow;
}

--*/










/*--  Eingabefeld (input)  --*/
/* @import "partials/input"; */