/*  Alles CSS im Header-Beriech zum Projekt Pricing
    ================================================  */


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0 4rem 0;
}

h1{
    font-size: 2rem;
    margin: 0;
    padding-bottom: 3rem;
}

.toggle{
    display: flex;
    justify-content: center;
    &__checkbox{
        margin: 0 2rem 0 2rem;
    }

}