/*  Alle Variabeln zum Projekt Pricing
    ===================================  */


/*---   Colors   ---*/

/* Primary */
$Purple-light: hsl(236, 72%, 79%);
$Purple-dark: hsl(237, 63%, 64%);

/* Neutral */
$Blue-lightest: hsl(240, 78%, 98%);
$Blue-light: hsl(234, 14%, 74%);
$Blue-normal: hsl(233, 13%, 49%);
$Blue-dark: hsl(232, 13%, 33%);




/*---   Cariabeln   ---*/

