/* Farben fürs Projekt «ToDo-Listen»
   ==========================================================================
*/

$color-text: #4d4d4d;
$color-bg: #f5f5f5;
$color-lines: #ededed;
$color-shadow: #ededed;
$color-red: #af2f2f;
$color-white: #ffffff;