/* Hier kommen Variabeln hin.
   ==========================================================================


Beispiel:

$primary-color: #333;

    .profile {
        width: 100%;
        color: $primary-color
*/