.list{
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item{
        height: 4rem;
        display: flex;
        align-items: center;
        border-top: solid 1px $color-lines;
        &:hover>.list--deleted{
            display: flex;
        }

        &--checked {
            .list__itemname {
                text-decoration: line-through;
                color: $color-text;         
            }
        }

    }

    &__checkbox{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 2.7rem;
        }

        &-icon {
            content: url(../images/unchecked.svg);
        }

        input[type="checkbox"]:checked + .list__checkbox-icon {
            content: url(../images/checked.svg);
        }
    }

    &__itemname{
        width: 80%;
    }

    &--deleted{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 1.5rem;
        }
        display: none;
    }

}