/* Basic colours */

$white:#FFFFFF;
$black: #000000;
$grey-90: #383937;
$grey-76: #767676;
$grey-C2: #C2C2C2;
$grey-E5: #E5E5E5;
$grey-F0: #F0F0F0;



/*! Extended colors */

/*! HipHop = Pink */
$hiphop-dark: #D81B60;
$hiphop-light: #E91E63;

/*! Jazz = Yellow */
$jazz-dark: #FDD835;
$jazz-light: #FFEB3B;

/*! Indie = Mint */
$indie-dark: #00D79F;
$indie-light: #1DE9B6;

/*! PopRock = Blue */
$poprock-dark: #3949AB;
$poprock-light: #3F51B5;

/*! Electronic = Purple */
$electronic-dark: #5E35B1;
$electronic-light: #673AB7;

/*! Electronic = Purple */
$country-dark: #96C832;
$country-light: #CEF275;

/*! Blues = Purple */
$blues-dark: #D07609;
$blues-light: #DF8F2D;

/*! Reggae = Purple */
$reggae-dark: #EE3C95;
$reggae-light: #EB69AA;

/*! Punk = Purple */
$punk-dark: #A57AB8;
$punk-light: #B299BD;