.btns{
    &__register{
        padding-bottom: 2rem;
    }
}


.login{

    &__form{
        width: 20rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        font-weight: 600;
    }

    & label{
        padding-top: 1.0rem;
    }

    &__btn{
        background-color: $color5;
        width: 60%;
        height: 2rem;
        margin-top: 1rem;
        border-style: none;
        border-radius: 6px;
        font-size: 1.2rem;
        font-weight: 600;
        padding-left: 0.3rem;
        color: $color2;
    }
    &__btn:hover{
        background-color: $color6;
    }
        
    & input{
        border-style: none;
        height: 2.5rem;
        width: 100%;
        margin-top: 0.3rem;
        background-color: $color2;
        border-radius: 3px; 
        font-size: 1rem;
        font-weight: 400;
        padding-left: 0.3rem;
    }

}
